<p>Olá <%= @resource.email %>!</p>

<p>Alguém fez uma requisição para alterar sua senha, e você fazer isso através do link a seguir.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você que fez essa requisição, por favor ignore este email.</p>
<p>Sua senha não será alterada se você não acessar o link acima e criar uma nova.</p>
