<h2>Restaurantes</h2>

<table class="condensed-table zebra-striped">
  <tbody>
<% @restaurantes.each do |restaurante| %>
    <tr>
      <td><%= restaurante.nome %></td>
      <td>
      <% if restaurante.usuario == current_usuario %>
      <%= link_to 'Editar', edit_restaurante_path(restaurante) %>
      <% end %>
      </td>
      <td>
      <% if restaurante.usuario == current_usuario %>
      <%= link_to 'Remover', restaurante, :confirm => 'Tem certeza disso?', :method => :delete %>
      <% end %>
      </td>
    </tr>
<% end %>
  <tbody>
</table>

<%= link_to 'Novo Restaurante', new_restaurante_path, :class => 'btn primary' %>
