<p><em>'Onde vamos?'</em> é um serviço destinado a grupos que querem de forma simples e rápida decidir 
onde vão para realizar suas atividades. Nossos serviços são como enquetes, 
porém de uma forma especializada.
</p>
<p>
A idéia surgiu apartir de um grupo de colegas de trabalho em Fortaleza/CE que 
sempre tinham que discutir na porta do prédio onde iriam para almoçar/lanchar e 
coisas parecidas.
</p>
