/**
>>>Onde vamos?>>>
*/
body {
    padding-top: 60px;
}

.optionRadio {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

.hero-unit {
    padding: 40px;
}

.actions-options {
    padding-top:10px;
}

h1 {
    padding-bottom:10px;
}

.alert-message.block-message ul li{
    color: gray;
}

ul.ui-autocomplete {
  list-style: none;
  background-color: #FFFFFF;
}

ul.ui-autocomplete {
  width:250px;
}

ul.ui-autocomplete li.ui-menu-item a.ui-corner-all {
  cursor: pointer;
}

ul.ui-autocomplete li.ui-menu-item{
  cursor: pointer;
}
