<div class="alert-message block-message info">
  <p>Você já votou para 'Onde vamos' com esse Grupo no dia de hoje. Obrigado.</p>
</div>
<div id="grafico"></div>
<%= render_chart(@chart, 'grafico') %>
