<% if @grupos.empty? %>
<div id="box_opcoes_comeco" class="alert-message block-message info" rel="popover" data-content="Se você ainda criou ou não está associado a nenhum grupo. Agora é a hora!" data-original-title="Ainda não começou?">
  <p>
  </p>
  <div class="alert-actions">
    <%= link_to 'Criar um Grupo', new_grupo_path, :class => 'btn primary' %>
    <%= link_to 'Encontrar um Grupo', grupos_path, :class => 'btn'  %>
  </div>
</div>
<script>
$('div[rel=popover]').popover({placement: 'below', trigger: 'manual'});
$('div[rel=popover]').popover('show');
</script>
<% else %>
<p class="grupos">
  <%= select_tag :grupo_id, options_from_collection_for_select(@grupos, "id", "nome", @voto.grupo_id),  { :include_blank => 'Selecione um Grupo', 'rel' => 'popover', 'data-original-title' => 'Vamos lá!', 'data-content' => 'É só selecionar um grupo e votar.'} %>
</p>
<% if @voto.grupo_id.nil? %>
<script>
$('select[rel=popover]').popover({placement: 'below', trigger: 'manual'});
$('select[rel=popover]').popover('show');
$("select#grupo_id").change(function(){
  var grupo_id = $(this).find('option:selected').val();
  if(grupo_id !== ""){
    $('select[rel=popover]').popover('hide');
    $('a[rel=popover]').popover('hide');
  }
});
</script>
<% end %>
<% end %>
<%= render 'votacao' %>
