<% if @grupos.empty? %>
<div id="box_opcoes_comeco" class="alert-message block-message info" rel="popover" data-content="Se você ainda criou ou não está associado a nenhum grupo. Agora é a hora!" data-original-title="Ainda não começou?">
  <p>
  </p>
  <div class="alert-actions">
    <%= link_to 'Criar um Grupo', new_grupo_path, :class => 'btn primary' %>
    <%= link_to 'Encontrar um Grupo', grupos_path, :class => 'btn'  %>
  </div>
</div>
<script>
$('div[rel=popover]').popover({placement: 'below', trigger: 'manual'});
$('div[rel=popover]').popover('show');
</script>
<% else %>
<p class="grupos">
  <%= select_tag :grupo_id, options_from_collection_for_select(@grupos, "id", "nome", @voto.grupo_id),  { :include_blank => 'Selecione um Grupo', 'title' => "Seus grupos estão aqui", 'rel' => "twipsy"} %>
</p>
<% end %>
<%= render 'votacao' %>
